@use "sass:map";
@import "../../assets/styles/variables.scss";

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgb(1, 0, 120, 0.4);
  z-index: 1;
}

.content {
  padding: 2vh 2vh 2vh 3vh;
  background: white;
  border-radius: 16px;
  min-width: 250px;
}

.active {
  display: flex;
  justify-content: center;
  align-items: center;
}
