@use "sass:map";
@import "../../assets/styles/variables.scss";

.wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vh;
  height: 3vh;
  margin: 0.5rem;
  border: 0.2vh solid map.get($colors, dark-grey);
  cursor: pointer;
  color: map.get($colors, dark-grey);
  box-shadow: 2px 3px 5px map.get($colors, dark-grey);
  &:hover {
    background: map.get($colors, success);
    box-shadow: 0 0 10px map.get($colors, lilac);
  }
}

.pageCurrent {
  background: map.get($colors, lilac);
  border: 0.3vh solid map.get($colors, dark-grey);
  box-shadow: 0 0 10px map.get($colors, success);
  font-weight: bold;
}
