@use "sass:map";
@import "./variables.scss";

.container {
  max-width: 1140px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.message {
  margin: 2vh 0;
  text-align: center;
  @include fluidFontSize(14px, 24px, 480px, 1280px, 14px);
  color: map.get($colors, dark-blue);
}
